@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(5, 5, 5);
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.cursor-circle {
  cursor: url('https://cdn.jsdelivr.net/npm/joypixels@6.0.1/dist/joypixels/cursors/circle.png'), auto;
}
